{% extends "base.html" %}
{% block title %}Mutenix - Configuration{% endblock %}
{% block header %}Config{% endblock %}
{% block content %}
<main>
    <section>
        <h2>Button Actions</h2>
        <table>
            <thead>
            <tr>
                <th style="padding-right: 20px;">Button</th>
                <th style="padding-right: 20px;">Action</th>
                <th style="padding-right: 20px;">Longpress Action</th>
            </tr>
            </thead>
            <tbody>
            {% for button_id, theaction in button_actions.items() %}
            <tr>
                <td style="padding-right: 20px; text-align: right;">{{ button_id }}
                    <span style="display: inline-block; width: 15px; height: 15px; border-radius: 50%; background-color:
                        {% if button_id in [1, 6] %} green
                        {% elif button_id in [5, 10] %} red
                        {% elif button_id in [2, 7] %} yellow
                        {% elif button_id in [3, 8] %} black
                        {% elif button_id in [4, 9] %} blue
                        {% endif %};"></span>
                </td>
                {% if theaction.action %}
                <td style="padding-right: 20px;">
                    {% for action in theaction.action.actions %}
                    {% if action.webhook %}
                    Webhook <small>{{ action.webhook.url }}</small>
                    {% endif %}
                    {% if action.keyboard %}
                    Keyboard <small>{{ action.keyboard.key }}</small>
                    {% endif %}
                    {% if action.mouse %}
                    Mouse <small>{{ action.mouse.button }}</small>
                    {% endif %}
                    {% if action.teams_reaction %}
                    Teams Reaction <small>{{ action.teams_reaction.reaction.name }}</small>
                    {% endif %}
                    {% if action.meeting_action %}
                    Meeting Action <small>{{ action.meeting_action.name }}</small>
                    {% endif %}
                    {% if action.activate_teams %}
                    Activate Teams
                    {% endif %}
                    {% if action.command %}
                    Command <small>{{ action.command }}</small>
                    {% endif %}
                    {% if not loop.last %}<br />{% endif %}
                    {% endfor %}
                </td>
                {% else %}
                <td style="padding-right: 20px;">N/A</td>
                {% endif %}
                {% if theaction.longpress_action %}
                <td style="padding-right: 20px;">
                    {% for action in theaction.longpress_action.actions %}
                    {% if action.webhook %}
                    Webhook <small>{{ action.webhook.url }}</small>
                    {% endif %}
                    {% if action.keyboard %}
                    Keyboard <small>{{ action.keyboard.key }}</small>
                    {% endif %}
                    {% if action.mouse %}
                    Mouse <small>{{ action.mouse.button }}</small>
                    {% endif %}
                    {% if action.teams_reaction %}
                    Teams Reaction <small>{{ action.teams_reaction.reaction.name }}</small>
                    {% endif %}
                    {% if action.meeting_action %}
                    Meeting Action <small>{{ action.meeting_action.name }}</small>
                    {% endif %}
                    {% if action.activate_teams %}
                    Activate Teams
                    {% endif %}
                    {% if action.command %}
                    Command <small>{{ action.command }}</small>
                    {% endif %}
                    {% if not loop.last %}<br />{% endif %}
                    {% endfor %}
                </td>
                {% else %}
                <td style="padding-right: 20px;">N/A</td>
                {% endif %}
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
    <section>
        <h2>LED Configurations</h2>
        <table>
            <thead>
            <tr>
                <th style="padding-right: 20px;">Button ID</th>
                <th style="padding-right: 20px;">Source</th>
                <th style="padding-right: 20px;">Color On</th>
                <th style="padding-right: 20px;">Color Off</th>
                <th style="padding-right: 20px;">Extra</th>
            </tr>
            </thead>
            <tbody>
            {% for led in leds %}
            <tr>
                <td style="padding-right: 20px;">{{ led.button_id }}</td>
                <td style="padding-right: 20px;">
                    {% if led.teams_state %}
                        Teams State
                    {% elif led.result_command %}
                        Result Command
                    {% elif led.color_command %}
                        Color Command
                    {% elif led.webhook %}
                        Webhook
                    {% else %}
                        N/A
                    {% endif %}
                </td>
                <td style="padding-right: 20px;">
                    {% if led.teams_state %}
                        {{ led.teams_state.color_on.name | lower }}
                    {% elif led.result_command %}
                        {{ led.result_command.color_on.name | lower }}
                    {% elif led.color_command %}
                        N/A
                    {% else %}
                        N/A
                    {% endif %}
                </td>
                <td style="padding-right: 20px;">
                    {% if led.teams_state %}
                        {{ led.teams_state.color_off.name | lower  }}
                    {% elif led.result_command %}
                        {{ led.result_command.color_off.name | lower  }}
                    {% elif led.color_command %}
                        N/A
                    {% else %}
                        N/A
                    {% endif %}
                </td>
                <td style="padding-right: 20px;">
                    {% if led.teams_state %}
                        {{ led.teams_state.teams_state.name }}
                    {% elif led.result_command %}
                        <small>Command: {{ led.result_command.command }}<br>
                        Interval: {{ led.result_command.interval }}<br>
                        Timeout: {{ led.result_command.timeout }}</small>
                    {% elif led.color_command %}
                        <small>Command: {{ led.color_command.command }}<br>
                        Interval: {{ led.color_command.interval }}<br>
                        Timeout: {{ led.color_command.timeout }}</small>
                    {% else %}
                        N/A
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>
    <section>
        <h2>YAML Configuration</h2>
        <button onclick="toggleYaml()">Show/Hide YAML</button>
        <pre id="yamlConfig">
            <code class="language-yaml">{{ yaml_config }}</code>
        </pre>
    </section>
    <script>
        function toggleYaml() {
            var yamlSection = document.getElementById("yamlConfig");
            if (yamlSection.style.display === "none") {
                yamlSection.style.display = "block";
            } else {
                yamlSection.style.display = "none";
            }
        }

        document.addEventListener('DOMContentLoaded', (event) => {
            document.querySelectorAll('pre code').forEach((block) => {
                hljs.highlightBlock(block);
            });
        });
    </script>
</main>
{% endblock %}
