<!DOCTYPE html>
<html>
<body>
<nav>
    <button id="toggleButton" onclick="toggleButtons()">Show 10 Buttons</button>
</nav>
<script>
document.addEventListener('DOMContentLoaded', function() {
    document.getElementById('five_button').style.display = 'block';
    document.getElementById('ten_button').style.display = 'none';
});

function toggleButtons() {
    const fiveButtonDiv = document.getElementById('five_button');
    const tenButtonDiv = document.getElementById('ten_button');
    const toggleButton = document.getElementById('toggleButton');

    if (fiveButtonDiv.style.display === 'none') {
        fiveButtonDiv.style.display = 'block';
        tenButtonDiv.style.display = 'none';
        toggleButton.textContent = 'Show 10 Buttons';
    } else {
        fiveButtonDiv.style.display = 'none';
        tenButtonDiv.style.display = 'block';
        toggleButton.textContent = 'Show 5 Buttons';
    }
    requestState();
}
</script>
<div id="ten_button">
{% include 'ten_button.html' %}
</div>
<div id="five_button">
{% include 'five_button.html' %}
</div>
<script src="/static/js/script.js">
</script>
</body>
</html>
